<f:layout name="Default" />

<f:section name="Title">A list of ticks</f:section>

<f:section name="Content">
	<f:if condition="{ticks}">
		<f:then>
			<ul>
				<f:for each="{ticks}" as="tick">
					<li>
						<f:link.action action="show" arguments="{tick: tick}">{tick.name}</f:link.action>
						<f:link.action action="edit" arguments="{tick: tick}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{tick: tick}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No ticks created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new tick</f:link.action></p>
</f:section>