<f:layout name="Default" />

<f:section name="Title">Show taskgroup "{taskgroup.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Name</th>
			<td>{taskgroup.name}</td>
		</tr>
	</table>

	<div class="row">
		<div class="span6">
			<div class="row" id="taskList">
				<f:if condition="{taskgroup.tasks}">
					<f:then>
						<f:for each="{taskgroup.tasks}" as="task" iteration="iterator">
							<f:form class="hiddenFields" method="POST" name="shiftUpForm">
								<f:form.hidden class="task" property="task" value="{task}" />
								<f:form.hidden class="taskgroup" property="taskgroup" value="{taskgroup}" />
							</f:form>
							<h5>
								<div class="taskEntry">
									<div class="span3">
										{task.name} <br />
										<h6>{task.description}</h6>
									</div>
									<div class="span1">
										<f:link.action action="edit" controller="Task" arguments="{template: taskgroup.template, taskgroup: taskgroup, task: task}" class="btn btn-mini btn-info">
											Edit
										</f:link.action>
									</div>
									<div class="span2">
										<span class="shiftIcons">
											<f:if condition="{iterator.isFirst}">
												<f:else>
													<span class="shiftUpTask">
														<img src="{f:uri.resource(path:'Icons/arrowUp.png')}" />
													</span>
												</f:else>
											</f:if>

											<f:if condition="{iterator.isLast}">
												<f:else>
													<span class="shiftDownTask">
														<img src="{f:uri.resource(path:'Icons/arrowDown.png')}" />
													</span>
												</f:else>
											</f:if>
										</span>
									</div>
								</div>
							</h5>
						</f:for>
					</f:then>
					<f:else>
						<div class="span6">
							<p id="taskList">No tasks created yet.</p>
						</div>
					</f:else>
				</f:if>
			</div>
			<div class="row">
				<div class="span6">
					<p class="addTask">
						<div id="showNewTaskFields" class="btn btn-primary">Create a new Task</div>
						<f:form id="newTaskForm" method="POST" action="create" object="{newTask}" controller="Task" name="newTask" arguments="{template: template, taskgroup: taskgroup}">
							<div class="newTaskFields">
								<div class="taskName">
									Name: <f:form.textfield property="name" id="name" />
								</div>
								<div class="taskDescription">
									Description : <f:form.textfield property="description" id="description" />
								</div>
								<f:form.hidden id="template" property="template" value="{template}" />
								<f:form.hidden id="taskgroup" property="taskgroup" value="{taskgroup}" />
								<span id="createTask" class="btn btn-mini btn-success">Create</span>
							</div>
						</f:form>
					</p>
				</div>
			</div>
		</div>
	</div>
	<f:link.action action="show" controller="Template" arguments="{template: template}">Back</f:link.action>

	<div id="ajaxLoader">
		<img src="{f:uri.resource(path:'Icons/ajaxLoader.gif')}" />
	</div>
</f:section>