<f:layout name="Default" />

<f:section name="Title">Show template "{template.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Name</th>
			<td>{template.name}</td>
		</tr>
	</table>

	<div class="row">
		<div class="span6">
			<f:if condition="{template.taskgroups}">
				<f:then>
					<ul id="taskgroupList">
						<f:for each="{template.taskgroups}" as="taskgroup" iteration="iterator">
							<li>
								<h5><f:link.action action="show" controller="Taskgroup" arguments="{template: template, taskgroup: taskgroup}">{taskgroup.name}</f:link.action>
								<f:link.action action="edit" controller="Taskgroup" arguments="{template: template, taskgroup: taskgroup}" class="btn btn-mini btn-info">
									Edit
								</f:link.action>
								<f:if condition="{iterator.isFirst}">
									<f:else>
										<f:link.action action="shift" controller="Taskgroup" arguments="{template: template, taskgroupToShift: taskgroup, newValue: '-1'}">
											<img src="{f:uri.resource(path:'Icons/arrowUp.png')}" />
										</f:link.action>
									</f:else>
								</f:if>

								<f:if condition="{iterator.isLast}">
									<f:else>
										<f:link.action action="shift" controller="Taskgroup" arguments="{template: template, taskgroupToShift: taskgroup, newValue: '1'}">
											<img src="{f:uri.resource(path:'Icons/arrowDown.png')}" />
										</f:link.action>
									</f:else>
								</f:if>
								</h5>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p id="taskgroupList">No taskgroups created yet.</p>
				</f:else>
			</f:if>
			<p class="addTaskgroup">
				<div id="showNewTaskGroupFields" class="btn btn-primary">Create a new Taskgroup</div>
				<f:form id="newTaskgroupForm" method="POST" action="create" object="{newTaskgroup}" controller="Taskgroup" name="newTaskgroup" arguments="{template: template}">
					<div class="newTaskgroupFields">
						<f:form.textfield property="name" id="name" />
						<f:form.hidden id="template" property="template" value="{template}" />
						<span id="createTaskgroup" class="btn btn-mini btn-success">Create</span>
					</div>
				</f:form>
			</p>
		</div>
	</div>
	<f:link.action action="index" controller="Standard">Back</f:link.action>
</f:section>