<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<f:base />
		<link rel="stylesheet/less" href="{f:uri.resource(path:'res/bootstrap/less/bootstrap.less')}">
		<link rel="stylesheet/less" href="{f:uri.resource(path:'CSS/tick.less')}">
		<link rel="stylesheet/less" href="{f:uri.resource(path:'CSS/jquery-ui-1.8.22.custom.css')}">
		<script src="{f:uri.resource(path:'res/less.js/less-1.3.0.min.js')}"></script>
		<script src="{f:uri.resource(path:'res/JS/jquery-1.7.2.min.js')}"></script>
		<script src="{f:uri.resource(path:'res/JS/jquery-ui-1.8.22.custom.min.js')}"></script>
		<script src="{f:uri.resource(path:'res/JS/tick.js')}"></script>
	</head>
	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">
						Tick
					</a>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="span12">
					<h1><f:render section="Title" /></h1>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<f:flashMessages class="flashmessages" />
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<f:render section="Content" />
				</div>
			</div>
		</div>
	</body>
</html>