<f:layout name="Default" />

<f:section name="Title">New checklist</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new checklist:</p>

	<f:form action="create" name="newChecklist">
		<ol>
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="projectId" id="projectId" />
				<f:form.hidden property="template" id="template" value="{template}" />
			</li>

			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>