<f:layout name="Default" />

<f:section name="Title">Show checklist "{checklist.projectId}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Name</th>
			<td>{checklist.projectId}</td>
		</tr>
	</table>
	<f:for each="{checklist.template.taskgroups}" as="taskgroup">
		<table>
			<f:if condition="{taskgroup.tasks}">
				<tr>
					<td colspan="2">
						<b>{taskgroup.name}</b>
					</td>
				</tr>
			</f:if>
			<f:for each="{taskgroup.tasks}" as="task">
				<tr>
					<td>
						<f:if condition="{checklist.ticks}">
							<f:then>
								<f:for each="{checklist.ticks}" as="tick">
									<f:if condition="{tick.task} == {task}">
										<f:then>
											<f:link.action action="delete" controller="Tick" arguments="{tick: tick}">UNTICK</f:link.action>
										</f:then>
										<f:else>
											<f:form id="newTickForm" method="POST" action="create" object="{newTick}" controller="Tick" name="newTick" arguments="{checklist: checklist}">
												<div class="newTick">
													<f:form.submit class="btn btn-mini btn-success" value="Tick" />
													<f:form.hidden property="task" value="{task}" />
													<f:form.hidden property="checklist" value="{checklist}" />
												</div>
											</f:form>
										</f:else>
									</f:if>
								</f:for>
							</f:then>
							<f:else>
								<f:form id="newTickForm" method="POST" action="create" object="{newTick}" controller="Tick" name="newTick" arguments="{checklist: checklist}">
									<div class="newTick">
										<f:form.submit class="btn btn-mini btn-success" value="Tick" />
										<f:form.hidden property="task" value="{task}" />
										<f:form.hidden property="checklist" value="{checklist}" />
									</div>
								</f:form>
							</f:else>
						</f:if>
					</td>
					<td>
						{task.name} {task.description}
					</td>
				</tr>
			</f:for>
		</table>
	</f:for>
	<f:link.action action="index" controller="Standard">Back</f:link.action>
</f:section>