<ul id="taskList">
	<f:for each="{tasks}" as="task" iteration="iterator">
		<li>
			<h5>
				{task.name}
				<f:link.action action="edit" controller="Task" arguments="{template: taskgroup.template, taskgroup: taskgroup, task: task}" class="btn btn-mini btn-info">
					Edit
				</f:link.action>
				<f:if condition="{iterator.isFirst}">
					<f:else>
						<f:link.action action="shift" controller="Task" arguments="{template: taskgroup.template, taskgroup: taskgroup, taskToShift: task, newValue: '-1'}">
							<img src="{f:uri.resource(path:'Icons/arrowUp.png')}" />
						</f:link.action>
					</f:else>
				</f:if>

				<f:if condition="{iterator.isLast}">
					<f:else>
						<f:link.action action="shift" controller="Task" arguments="{template: taskgroup.template, taskgroup: taskgroup, taskToShift: task, newValue: '1'}">
							<img src="{f:uri.resource(path:'Icons/arrowDown.png')}" />
						</f:link.action>
					</f:else>
				</f:if>
			</h5> <h6>{task.description}</h6>
		</li>
	</f:for>
</ul>