body {
	padding-top: 50px;
}

#newTemplateForm,
#newTaskgroupForm,
#newTaskForm,
#newChecklistForm {
	display: none;
	margin-top: 10px;
}

.sortOrder {
	display: none;
}

#ajaxLoader {
	display: none;
}

.shiftDownForm {
	float: left;
	margin: 0;
}

.hiddenFields {
	margin: 0;
}

.taskEntry {
	overflow: hidden;
}