body {
	padding-top: 50px;
}

#newTemplateForm,
#newTaskgroupForm,
#newTaskForm,
#newChecklistForm {
	display: none;
	margin-top: 10px;
}

.sortOrder {
	display: none;
}

#ajaxLoader {
	display: none;
}

.shiftDownForm {
	float: left;
	margin: 0;
}

.hiddenFields {
	margin: 0;
}

.taskEntry {
	overflow: hidden;
}

#checklist .taskgroupWrapper,
#checklist #backLink {
	margin: 20px 0 0 0;
}

#checklist .taskgroupWrapper,
#checklist .taskWrapper {
	clear: both;
	overflow: hidden;
}

#checklist .tick,
#checklist .task {
	float: left;
}

#checklist .task {
	margin: 0 0 0 20px;
}

#checklist .unticked img,
#checklist .ticked img {
	width: 20px;
}