body {
	padding-top: 50px;
}

#newTemplateForm {
	display: none;
	margin-top: 10px;
}

#newTaskgroupForm {
	display: none;
	margin-top: 10px;
}

#newTaskForm {
	display: none;
	margin-top: 10px;
}

.sortOrder {
	display: none;
}

#ajaxLoader {
	display: none;
}

.shiftDownForm {
	float: left;
	margin: 0;
}

.hiddenFields {
	margin: 0;
}

.taskEntry {
	overflow: hidden;
}