<f:layout name="Default" />

<f:section name="Title">Tick: Welcome</f:section>

<f:flashMessages class="flashmessages" />

<f:section name="Content">
	<div class="row">
		<div class="span6">
			<div class="row">
			<f:if condition="{templates}">
				<f:then>
					<f:for each="{templates}" as="template">
						<h5>
							<div class="span3">
								<f:link.action action="show" controller="Template" arguments="{template: template}">{template.name}</f:link.action>
							</div>
							<div class="span3">
								<f:link.action action="new" controller="Checklist" arguments="{template: template}" class="btn btn-mini btn-success">
									Start
								</f:link.action>
								<f:link.action action="edit" controller="Template" arguments="{template: template}" class="btn btn-mini btn-info">
									Edit
								</f:link.action>
							</div>
						</h5>
					</f:for>
				</f:then>
				<f:else>
					<div class="span16">
						<p id="templateList">No templates created yet.</p>
					</div>
				</f:else>
			</f:if>
			</div>
			<div class="row">
				<div class="span16">
					<p class="addTemplate">
						<div id="showNewTemplateFields" class="btn btn-primary">Create a new template</div>
						<f:form id="newTemplateForm" method="POST" action="create" object="{newTemplate}" controller="Template" name="newTemplate">
							<div class="newTemplateFields">
								<f:form.textfield property="name" id="templateName" />
								<span id="createTemplate" class="btn btn-mini btn-success">Create</span>
							</div>
						</f:form>
					</p>
				</div>
			</div>
		</div>
		<div class="span6">
			<f:if condition="{checklists}">
				<f:then>
					<ul>
						<f:for each="{checklists}" as="checklist">
							<li>
								<f:link.action action="show" controller="Checklist" arguments="{checklist: checklist}">{checklist.projectId} - {checklist.template.name}</f:link.action>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p>No checklists started yet. Start one by clicking the button next to the template.</p>
				</f:else>
			</f:if>
		</div>
	</div>

	<div id="ajaxLoader">
		<img src="{f:uri.resource(path:'Icons/ajaxLoader.gif')}" />
	</div>

</f:section>