<f:layout name="Default" />

<f:section name="Title">Tick: Welcome</f:section>

<f:flashMessages class="flashmessages" />

<f:section name="Content">
	<div class="row">
		<div class="span6">
			<f:if condition="{templates}">
				<f:then>
					<ul>
						<f:for each="{templates}" as="template">
							<li>
								<h5><f:link.action action="show" controller="Template" arguments="{template: template}">{template.name}</f:link.action>
								<f:link.action action="new" controller="Checklist" arguments="{template: template}" class="btn btn-mini btn-success">
									Start
								</f:link.action></h5>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p>No templates created yet.</p>
				</f:else>
			</f:if>
			<p class="addTemplate">
				<div id="showNewTemplateFields" class="btn btn-primary">Create a new template</div>
				<f:form id="newTemplateForm" method="POST" action="create" object="{newTemplate}" controller="Template" name="newTemplate">
					<div class="newTemplateFields">
						<f:form.textfield property="name" id="name" />
						<f:form.submit class="btn btn-mini btn-success" value="Create" />
					</div>
				</f:form>
			</p>
		</div>
		<div class="span6">
			<f:if condition="{checklists}">
				<f:then>
					<ul>
						<f:for each="{checklists}" as="checklist">
							<li>
								<f:link.action action="show" controller="Checklist" arguments="{checklist: checklist}">{checklist.projectId} - {checklist.template.name}</f:link.action>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p>No checklists started yet. Start one by clicking the button next to the template.</p>
				</f:else>
			</f:if>
		</div>
	</div>



</f:section>