<f:layout name="Default" />

<f:section name="Title">Tick: Welcome</f:section>

<f:flashMessages class="flashmessages" />

<f:section name="Content">
	<div class="row">
		<div class="span6">
			<div class="row">
			<f:if condition="{templates}">
				<f:then>
					<f:for each="{templates}" as="template">
						<div class="templateEntry">
							<f:form class="hiddenFields" method="POST" name="hiddenFields">
								<f:form.hidden class="template" property="template" value="{template}" />
							</f:form>
							<h5>
								<div class="span3">
									<f:link.action action="show" controller="Template" arguments="{template: template}">
										{template.name}
									</f:link.action>
								</div>
								<div class="span3">
									<span class="btn btn-mini btn-success showNewChecklistFields">
										Start
									</span>
									<f:link.action action="edit" controller="Template" arguments="{template: template}" class="btn btn-mini btn-info">
										Edit
									</f:link.action>
								</div>
							</h5>
						</div>
					</f:for>
				</f:then>
				<f:else>
					<div class="span16">
						<p id="templateList">No templates created yet.</p>
					</div>
				</f:else>
			</f:if>
			</div>
			<div class="row">
				<div class="span16">
					<p class="addTemplate">
						<div id="showNewTemplateFields" class="btn btn-primary">Create a new template</div>
						<f:form id="newTemplateForm" method="POST" action="create" object="{newTemplate}" controller="Template" name="newTemplate">
							<div class="newTemplateFields">
								<f:form.textfield property="name" id="templateName" />
								<span id="createTemplate" class="btn btn-mini btn-success">Create</span>
							</div>
						</f:form>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span16">
					<p class="addChecklist">
						<f:form id="newChecklistForm" method="POST" action="create" object="{newChecklist}" controller="Checklist" name="newChecklist">
							<div class="newChecklistFields">
								<f:form.textfield property="name" id="projectId" />
								<span id="createChecklist" class="btn btn-mini btn-success">Create</span>
								<f:form.hidden id="templateForChecklist" property="template" value="{template}" />
							</div>
						</f:form>
					</p>
				</div>
			</div>
		</div>
		<div class="span6">
			<f:if condition="{checklists}">
				<f:then>
					<div id="checklistList">
						<f:for each="{checklists}" as="checklist">
							<div class="checklistEntry">
								<f:if condition="{checklist.checklistStatus} == 1">
										<f:link.action action="show" controller="Checklist" arguments="{checklist: checklist}">
											{checklist.projectId} - {checklist.template.name} - ongoing
										</f:link.action>
								</f:if>
								<f:if condition="{checklist.checklistStatus} == 2">
									<f:then>
										<f:link.action action="show" controller="Checklist" arguments="{checklist: checklist}">
											{checklist.projectId} - {checklist.template.name} - finished
										</f:link.action>
									</f:then>
								</f:if>
							</div>
						</f:for>
					</div>
				</f:then>
				<f:else>
					<div id="checklistList">
						<p>No checklists started yet. Start one by clicking the button next to the template.</p>
					</div>
				</f:else>
			</f:if>
		</div>
	</div>

	<div id="ajaxLoader">
		<img src="{f:uri.resource(path:'Icons/ajaxLoader.gif')}" />
	</div>

</f:section>